---
import {ClientRouter} from 'astro:transitions';
import Footer from '../components/Footer.astro';
import {SITE} from '../config';
import banner from '../assets/banner_mobile.png';
import '../styles/global.css';
import * as url from "node:url";

interface Props {
    title: string;
    description?: string;
    ogImage?: string;
    ogType?: string;
}

const {
    title,
    description,
    ogImage = banner.src,
    ogType = "website"
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, SITE.url);
const ogImageURL = new URL(ogImage, SITE.url);
---

<!doctype html>
<html lang="ko">
<head>
    <title>{title}</title>
    <meta name="description" content={description}/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <meta charset="UTF-8"/>

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL}/>

    <!-- Open Graph -->
    <meta property="og:url" content={canonicalURL}/>
    <meta property="og:type" content={ogType}/>
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:site_name" content={SITE.title}/>
    <meta property="og:image" content={ogImageURL}/>
    <meta property="og:image:width" content="800"/>
    <meta property="og:image:height" content="400"/>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="twitter:domain" content={SITE.url}>
    <meta property="twitter:url" content={canonicalURL}>
    <meta name="twitter:title" content={title}/>
    <meta name="twitter:description" content={description}/>
    <meta name="twitter:image" content={ogImageURL}/>
    <ClientRouter/>
</head>
<body transition:animate="none" class="bg-background-primary text-foreground-primary">
<div class="min-h-screen flex flex-col">
    <div class="flex-1">
        <slot/>
    </div>
    <Footer/>
</div>
</body>
</html> 